spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/historiales
    username: historiales
    password: historiales
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      encoding: UTF-8

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: INFO
